.tab-item {
    color: black;
}

.tab-item:hover {
    color: dimgrey;
}

.channel-name {
    font-family: "Times New Roman", serif;
    font-weight: bolder;
}

.full-name {
    font-family: "Helvetica Neue", serif;
    font-weight: normal;
}

.description-name {
    font-family: "Helvetica Neue", serif;
}

.youtube-link {
    font-family: "Helvetica Neue", serif;
    margin-right: 55%;
}

.person-img {
    height: 100px;
}

.person-card {
    border-radius: 10px;
}