<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T3ND3X7Y4D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-T3ND3X7Y4D');
    </script>

    <!-- Bootstrap CSS -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{homePage.css}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}" />
    <title>The Tuber - ютубери, які "вбивають"</title>
    <meta name="description" content="Сторінка для тих, хто досі не усвідомлює, що ваші «улюбленці» вбивають тисячі
    мирних людей та дітей своєю бездіяльністю і пропагандою">
</head>
<body>
<div class="container">

    <!-- TopBar -->
    <script data-cfasync='false' type='text/javascript'
            src='//p445925.clksite.com/adServe/banners?tid=445925_873246_0&tagid=9'></script>

    <header class="blog-header">
        <div class="row justify-content-center">
            <div class="col-5 col-md-3 col-xxl-2 px-4 mb-4 text-center pt-2">
                <a th:href="@{/}">
                    <img class="d-block w-100" th:src="@{https://i.imgur.com/Bg0DmFB.png}" alt="TheTuber">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col px-4 text-center pt-2">
                <div class="col-lg-8 mx-auto">
                    <p class="lead mb-4">Сторінка для тих, хто досі не усвідомлює, що ваші «улюбленці»
                        вбивають тисячі мирних людей та дітей своєю бездіяльністю і пропагандою</p>
                </div>
            </div>
        </div>
    </header>

    <main class="container">

        <!-- Banner main -->
        <script data-cfasync='false' type='text/javascript'
                src='//p445925.clksite.com/adServe/banners?tid=445925_873246_4'></script>

        <div class="nav-scroller py-1 mb-2">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item px-4 active" role="presentation">
                    <button class="nav-link fs-1 tab-item" id="technic-tab" data-bs-toggle="tab"
                            data-bs-target="#technic"
                            type="button"
                            role="tab" aria-controls="technic" aria-selected="true">ТЕХНОЛОГІЇ
                    </button>
                </li>
                <li class="nav-item px-4" role="presentation">
                    <button class="nav-link fs-1 tab-item" id="auto-tab" data-bs-toggle="tab" data-bs-target="#auto"
                            type="button"
                            role="tab" aria-controls="auto" aria-selected="false">АВТО
                    </button>
                </li>
                <li class="nav-item px-4" role="presentation">
                    <button class="nav-link fs-1 tab-item" id="game-tab" data-bs-toggle="tab" data-bs-target="#game"
                            type="button"
                            role="tab" aria-controls="game" aria-selected="false">ІГРИ
                    </button>
                </li>
                <li class="nav-item px-4" role="presentation">
                    <button class="nav-link fs-1 tab-item" id="entertainment-tab" data-bs-toggle="tab"
                            data-bs-target="#entertainment"
                            type="button" role="tab" aria-controls="entertainment" aria-selected="false">РОЗВАГИ
                    </button>
                </li>
                <li class="nav-item px-4" role="presentation">
                    <button class="nav-link fs-1 tab-item" id="travelling-tab" data-bs-toggle="tab"
                            data-bs-target="#travelling"
                            type="button" role="tab" aria-controls="travelling" aria-selected="false">ПОДОРОЖІ
                    </button>
                </li>
            </ul>

            <div class="tab-content pt-4" id="all-content">
                <div class="tab-pane fade show active" id="others" role="tabpanel" aria-labelledby="others-tab">
                    <div class="row mb-2" th:each="pair: ${personPairs.get('OTHERS')}">
                        <div class="col-xxl-6 col-xs" th:each="person: ${pair}">
                            <div class="row g-0 border overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative person-card">
                                <div class="col-md-6 pt-md-4 pb-md-4 ps-md-4 p-md-0 p-4 d-flex flex-column position-static">
                                    <img th:src="${person.country.toString().equals('UA')} ?
                                    'https://i.imgur.com/toJF8n5.png' :
                                    'https://i.imgur.com/mrsYFXe.png'"
                                         class="d-inline-block mb-3 border rounded" width="35">
                                    <h3 class="mb-0 channel-name" th:text="${person.channelName}"></h3>
                                    <div class="mb-2 text-muted full-name" th:text="${person.name}"></div>
                                    <p class="card-text mb-auto description-name" th:text="${person.description}"></p>
                                    <a th:href="${person.channelUrl}" target="_blank" class="mt-3 text-muted text-decoration-none youtube-link">
                                        <img th:src="@{https://i.imgur.com/f24qffV.png}" alt="Youtube link" class="me-1 pb-1 rounded" width="40">
                                        <span th:text="${person.subscribers}"></span>
                                    </a>
                                </div>
                                <div class="col-md-6 ps-md-4 p-md-0 p-4 pt-0">
                                    <img th:src="${person.images.get(0).url}" class="w-100 person-card"
                                         th:alt="${person.images.get(0).description}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="technic" role="tabpanel" aria-labelledby="technic-tab">
                    <div class="row mb-2" th:each="pair: ${personPairs.get('TECHNIC_CONTENT')}">
                        <div class="col-xxl-6 col-xs" th:each="person: ${pair}">
                            <div class="row g-0 border overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative person-card">
                                <div class="col-md-6 pt-md-4 pb-md-4 ps-md-4 p-md-0 p-4 d-flex flex-column position-static">
                                    <img th:src="${person.country.toString().equals('UA')} ?
                                    'https://i.imgur.com/toJF8n5.png' :
                                    'https://i.imgur.com/mrsYFXe.png'"
                                         class="d-inline-block mb-3 border rounded" width="35">
                                    <h3 class="mb-0 channel-name" th:text="${person.channelName}"></h3>
                                    <div class="mb-2 text-muted full-name" th:text="${person.name}"></div>
                                    <p class="card-text mb-auto description-name" th:text="${person.description}"></p>
                                    <a th:href="${person.channelUrl}" target="_blank" class="mt-3 text-muted text-decoration-none youtube-link">
                                        <img th:src="@{https://i.imgur.com/MgTdJ4M.png}" alt="Youtube link" class="me-1 pb-1 rounded" width="40">
                                        <span th:text="${person.subscribers}"></span>
                                    </a>
                                </div>
                                <div class="col-md-6 ps-md-4 p-md-0 p-4 pt-0">
                                    <img th:src="${person.images.get(0).url}" class="w-100 person-card"
                                         th:alt="${person.images.get(0).description}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="auto" role="tabpanel" aria-labelledby="auto-tab">
                    <div class="row mb-2" th:each="pair: ${personPairs.get('AUTO_CONTENT')}">
                        <div class="col-xxl-6 col-xs" th:each="person: ${pair}">
                            <div class="row g-0 border overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative person-card">
                                <div class="col-md-6 pt-md-4 pb-md-4 ps-md-4 p-md-0 p-4 d-flex flex-column position-static">
                                    <img th:src="${person.country.toString().equals('UA')} ?
                                    'https://i.imgur.com/toJF8n5.png' :
                                    'https://i.imgur.com/mrsYFXe.png'"
                                         class="d-inline-block mb-3 border rounded" width="35">
                                    <h3 class="mb-0 channel-name" th:text="${person.channelName}"></h3>
                                    <div class="mb-2 text-muted full-name" th:text="${person.name}"></div>
                                    <p class="card-text mb-auto description-name" th:text="${person.description}"></p>
                                    <a th:href="${person.channelUrl}" target="_blank" class="mt-3 text-muted text-decoration-none youtube-link">
                                        <img th:src="@{https://i.imgur.com/MgTdJ4M.png}" alt="Youtube link" class="me-1 pb-1 rounded" width="40">
                                        <span th:text="${person.subscribers}"></span>
                                    </a>
                                </div>
                                <div class="col-md-6 ps-md-4 p-md-0 p-4 pt-0">
                                    <img th:src="${person.images.get(0).url}" class="w-100 person-card"
                                         th:alt="${person.images.get(0).description}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="game" role="tabpanel" aria-labelledby="game-tab">
                    <div class="row mb-2" th:each="pair: ${personPairs.get('GAME_CONTENT')}">
                        <div class="col-xxl-6 col-xs" th:each="person: ${pair}">
                            <div class="row g-0 border overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative person-card">
                                <div class="col-md-6 pt-md-4 pb-md-4 ps-md-4 p-md-0 p-4 d-flex flex-column position-static">
                                    <img th:src="${person.country.toString().equals('UA')} ?
                                    'https://i.imgur.com/toJF8n5.png' :
                                    'https://i.imgur.com/mrsYFXe.png'"
                                         class="d-inline-block mb-3 border rounded" width="35">
                                    <h3 class="mb-0 channel-name" th:text="${person.channelName}"></h3>
                                    <div class="mb-2 text-muted full-name" th:text="${person.name}"></div>
                                    <p class="card-text mb-auto description-name" th:text="${person.description}"></p>
                                    <a th:href="${person.channelUrl}" target="_blank" class="mt-3 text-muted text-decoration-none youtube-link">
                                        <img th:src="@{https://i.imgur.com/MgTdJ4M.png}" alt="Youtube link" class="me-1 pb-1 rounded" width="40">
                                        <span th:text="${person.subscribers}"></span>
                                    </a>
                                </div>
                                <div class="col-md-6 ps-md-4 p-md-0 p-4 pt-0">
                                    <img th:src="${person.images.get(0).url}" class="w-100 person-card"
                                         th:alt="${person.images.get(0).description}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="entertainment" role="tabpanel" aria-labelledby="entertainment-tab">
                    <div class="row mb-2" th:each="pair: ${personPairs.get('ENTERTAINMENT_CONTENT')}">
                        <div class="col-xxl-6 col-xs" th:each="person: ${pair}">
                            <div class="row g-0 border overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative person-card">
                                <div class="col-md-6 pt-md-4 pb-md-4 ps-md-4 p-md-0 p-4 d-flex flex-column position-static">
                                    <img th:src="${person.country.toString().equals('UA')} ?
                                    'https://i.imgur.com/toJF8n5.png' :
                                    'https://i.imgur.com/mrsYFXe.png'"
                                         class="d-inline-block mb-3 border rounded" width="35">
                                    <h3 class="mb-0 channel-name" th:text="${person.channelName}"></h3>
                                    <div class="mb-2 text-muted full-name" th:text="${person.name}"></div>
                                    <p class="card-text mb-auto description-name" th:text="${person.description}"></p>
                                    <a th:href="${person.channelUrl}" target="_blank" class="mt-3 text-muted text-decoration-none youtube-link">
                                        <img th:src="@{https://i.imgur.com/MgTdJ4M.png}" alt="Youtube link" class="me-1 pb-1 rounded" width="40">
                                        <span th:text="${person.subscribers}"></span>
                                    </a>
                                </div>
                                <div class="col-md-6 ps-md-4 p-md-0 p-4 pt-0">
                                    <img th:src="${person.images.get(0).url}" class="w-100 person-card"
                                         th:alt="${person.images.get(0).description}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="travelling" role="tabpanel" aria-labelledby="travelling-tab">
                    <div class="row mb-2" th:each="pair: ${personPairs.get('TRAVEL_CONTENT')}">
                        <div class="col-xxl-6 col-xs" th:each="person: ${pair}">
                            <div class="row g-0 border overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative person-card">
                                <div class="col-md-6 pt-md-4 pb-md-4 ps-md-4 p-md-0 p-4 d-flex flex-column position-static">
                                    <img th:src="${person.country.toString().equals('UA')} ?
                                    'https://i.imgur.com/toJF8n5.png' :
                                    'https://i.imgur.com/mrsYFXe.png'"
                                         class="d-inline-block mb-3 border rounded" width="35">
                                    <h3 class="mb-0 channel-name" th:text="${person.channelName}"></h3>
                                    <div class="mb-2 text-muted full-name" th:text="${person.name}"></div>
                                    <p class="card-text mb-auto description-name" th:text="${person.description}"></p>
                                    <a th:href="${person.channelUrl}" target="_blank" class="mt-3 text-muted text-decoration-none youtube-link">
                                        <img th:src="@{https://i.imgur.com/MgTdJ4M.png}" alt="Youtube link" class="me-1 pb-1 rounded" width="40">
                                        <span th:text="${person.subscribers}"></span>
                                    </a>
                                </div>
                                <div class="col-md-6 ps-md-4 p-md-0 p-4 pt-0">
                                    <img th:src="${person.images.get(0).url}" class="w-100 person-card"
                                         th:alt="${person.images.get(0).description}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

                <!-- Footer Ads -->
                <script data-cfasync='false' type='text/javascript'
                        src='//p445925.clksite.com/adServe/banners?tid=445925_873246_5&type=footer&size=37'></script>

                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <svg class="bi" width="30" height="24">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                    </a>
                    <span class="text-muted">© 2022 Рускій ваєнний карабль - ІДІ НАХУЙ</span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a></li>
                    <li class="ms-3"><a class="text-muted" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a></li>
                    <li class="ms-3"><a class="text-muted" href="#">
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a></li>
                </ul>
            </footer>
        </div>
    </main>
</div>


<!--Bootstrap scripts-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>